@media all {
  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* end of reset */

  /* fonts */

  @font-face {
    font-family: "Raleway";
    src: url("aloha-fonts/Raleway-LightItalic.eot");
    src: url("aloha-fonts/Raleway-LightItalic.eot?#iefix")
        format("embedded-opentype"),
      url("aloha-fonts/Raleway-LightItalic.woff2") format("woff2"),
      url("aloha-fonts/Raleway-LightItalic.woff") format("woff"),
      url("aloha-fonts/Raleway-LightItalic.ttf") format("truetype"),
      url("aloha-fonts/Raleway-LightItalic.svg#Raleway-LightItalic")
        format("svg");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: "Raleway medium";
    src: url("aloha-fonts/Raleway-Medium.eot");
    src: url("aloha-fonts/Raleway-Medium.eot?#iefix")
        format("embedded-opentype"),
      url("aloha-fonts/Raleway-Medium.woff2") format("woff2"),
      url("aloha-fonts/Raleway-Medium.woff") format("woff"),
      url("aloha-fonts/Raleway-Medium.ttf") format("truetype"),
      url("aloha-fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Raleway";
    src: url("aloha-fonts/Raleway-MediumItalic.eot");
    src: url("aloha-fonts/Raleway-MediumItalic.eot?#iefix")
        format("embedded-opentype"),
      url("aloha-fonts/Raleway-MediumItalic.woff2") format("woff2"),
      url("aloha-fonts/Raleway-MediumItalic.woff") format("woff"),
      url("aloha-fonts/Raleway-MediumItalic.ttf") format("truetype"),
      url("aloha-fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic")
        format("svg");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: "Raleway light";
    src: url("aloha-fonts/Raleway-Light.eot");
    src: url("aloha-fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
      url("aloha-fonts/Raleway-Light.woff2") format("woff2"),
      url("aloha-fonts/Raleway-Light.woff") format("woff"),
      url("aloha-fonts/Raleway-Light.ttf") format("truetype"),
      url("aloha-fonts/Raleway-Light.svg#Raleway-Light") format("svg");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Playfair Display";
    src: url("aloha-fonts/PlayfairDisplay-Bold.eot");
    src: url("aloha-fonts/PlayfairDisplay-Bold.eot?#iefix")
        format("embedded-opentype"),
      url("aloha-fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
      url("aloha-fonts/PlayfairDisplay-Bold.woff") format("woff"),
      url("aloha-fonts/PlayfairDisplay-Bold.ttf") format("truetype"),
      url("aloha-fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold")
        format("svg");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Playfair Display";
    src: url("aloha-fonts/PlayfairDisplay-BoldItalic.eot");
    src: url("aloha-fonts/PlayfairDisplay-BoldItalic.eot?#iefix")
        format("embedded-opentype"),
      url("aloha-fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"),
      url("aloha-fonts/PlayfairDisplay-BoldItalic.woff") format("woff"),
      url("aloha-fonts/PlayfairDisplay-BoldItalic.ttf") format("truetype"),
      url("aloha-fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic")
        format("svg");
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: "Playfair Display";
    src: url("aloha-fonts/PlayfairDisplay-Italic.eot");
    src: url("aloha-fonts/PlayfairDisplay-Italic.eot?#iefix")
        format("embedded-opentype"),
      url("aloha-fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
      url("aloha-fonts/PlayfairDisplay-Italic.woff") format("woff"),
      url("aloha-fonts/PlayfairDisplay-Italic.ttf") format("truetype"),
      url("aloha-fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic")
        format("svg");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: "Playfair Display regular";
    src: url("aloha-fonts/PlayfairDisplay-Regular.eot");
    src: url("aloha-fonts/PlayfairDisplay-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("aloha-fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
      url("aloha-fonts/PlayfairDisplay-Regular.woff") format("woff"),
      url("aloha-fonts/PlayfairDisplay-Regular.ttf") format("truetype"),
      url("aloha-fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: "Raleway light";
  }

  /* logo */

  .logo img {
    max-width: 150px;
    padding: 10%;
    align-self: flex-start;
  }

  /* shopping cart */

  .cart img {
    max-width: 60px;
    padding-right: 30%;
    align-self: flex-end;
  }

  /* main nav */

  .site-header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
    position: fixed;
    top: 0;
    height: 10%;
    min-width: 100%;
    z-index: 1;
    padding: 0 2%;
    font-family: "Raleway light";
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav-list li {
    padding: 1em;
  }

  .nav-list li a {
    color: #e2574c;
  }

  .nav-list li a:hover {
    color: #b64036;
  }

  /* banner */

  .banner {
    position: relative;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("images/banner-girl.png"), url("images/flower-bkgd.jpg");
    background-size: contain, contain, cover;
    background-repeat: repeat-x, no-repeat, repeat-x;
    background-position-x: center, center, center;
    background-position-y: center, 40px, center;
    height: 550px;
    margin-top: 6%;
  }

  .banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding-top: 200px;
    font-size: 25px;
    font-weight: 10;
    color: white;
    text-shadow: 2px 2px 4px black;
  }

  .collection {
    font-family: "Raleway medium";
  }

  h1 {
    padding-top: 30px;
    font-size: 2.5em;
    font-family: "Playfair Display regular";
  }

  /* about */
  .about {
    text-align: center;
    font-size: 20px;
    margin: 60px 20%;
  }

  .hand-crafted {
    display: flex;
    font-family: "Playfair Display";
    font-weight: normal;
    font-style: italic;
    font-size: 35px;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 0;
    white-space: nowrap;
    height: 50px;
    width: 100%;
  }

  .styles {
    font-weight: 600;
    font-style: normal;
  }

  .about-text {
    font-size: 1.2rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    line-height: 45px;
  }

  /* product blocks*/

  .products-block {
    display: flex;
    flex-wrap: wrap;
    height: 60vw;
    text-align: center;
    line-height: 30vw;
  }

  .products-border {
    border: 5px solid white;
  }

  .block-fonts {
    font-family: "Raleway medium";
    font-size: 30px;
    color: white;
  }

  .mens-block {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(images/mens-category.jpg);
    background-size: cover, cover;
    flex: 1 0 50%;
    max-width: 100%;
  }

  .trends-block {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(images/trends-category.jpg);
    flex: 1 0 25%;
    background-size: cover, cover;
    max-width: 50%;
  }

  .glasses-block {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(images/glasses-category.jpg);
    flex: 1 0 25%;
    background-size: cover, cover;
    max-width: 50%;
  }

  .sale-block {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(images/sale-category.jpg);
    flex: 1 0 25%;
    background-size: cover, cover;
    max-width: 50%;
  }

  .bags-block {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(images/bags-category.jpg);
    flex: 1 0 25%;
    background-size: cover, cover;
    max-width: 50%;
  }

  .womens-block {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(images/womens-category.jpg);
    flex: 1 0 50%;
    background-size: cover, cover;
    max-width: 100%;
  }

  /* featured carousel */

  .featured {
    margin-bottom: 200px;
    padding-top: 30px;
    text-align: center;
  }

  .product-type {
    color: #969696;
    line-height: 40px;
  }

  .product-name {
    color: #e2574c;
    font-size: 25px;
  }

  .price {
    color: #969696;
    line-height: 40px;
  }

  /* newsletter and email */

  .newsletter {
    font-weight: normal;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(images/wave-bkgd.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, bottom;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    margin-top: 100px;
    flex-direction: column;
  }

  .text-submit {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 15px;
    width: 350px;
    height: 10%;
  }

  .text {
    width: 80%;
    height: 20px;
    border-radius: 15px;
    margin: 2px;
    border: none;
    padding: 5px;
  }

  .submit {
    border-radius: 15px;
    margin: 4px;
    width: 100px;
    color: white;
    background-color: #e2574c;
  }

  .newsletter-text {
    color: white;
    text-shadow: 2px 2px 4px black;
    line-height: 40px;
    padding-bottom: 20px;
  }

  /* footer and social media */

  .site-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: #242424;
    min-height: 200px;
    font-family: "Raleway medium";
  }

  .contact-info {
    text-decoration: none;
    color: white;
  }

  .phone-email {
    margin: 15px 0;
  }

  .phone-email a {
    color: white;
  }

  .address {
    color: #969696;
  }

  .site-footer ul li {
    padding: 8px;
    text-decoration: none;
  }

  .site-footer ul li a {
    color: white;
  }

  /* containers*/
  .container {
    max-width: 1240px;
    margin: 0 auto;
    min-width: 400px;
  }

  .site-footer {
    text-decoration: none;
  }
}

a:any-link {
  text-decoration: none;
}

a:hover {
  color: #b64036;
}

.site-footer ul li a:hover {
  color: #b64036;
}
/* mobile */
@media all and (max-width: 600px) {
  .site-header {
    display: flex;
    flex-wrap: wrap;
    height: 15%;
  }

  .main-navi {
    height: 30px;
    display: flex;
    order: 1;
    flex-flow: row nowrap;
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
    justify-content: space-evenly;
    margin: auto 2%;
    border-top: 1px solid;
    border-top-color: #d7d7d7;
    align-items: center;
    min-height: 30%;
  }
  .main-navi li {
    padding: 10px 10px;
  }
  .main-navi a {
    color: #e2574c;
  }

  .banner {
    margin-top: 20%;
  }

  .products-block {
    height: 200vw;
    line-height: 50vw;
  }

  .mens-block {
    flex: 1 0 100%;
  }

  .trends-block {
    flex: 1 0 50%;
  }

  .glasses-block {
    flex: 1 0 50%;
  }

  .sale-block {
    flex: 1 0 50%;
  }

  .bags-block {
    flex: 1 0 50%;
  }

  .womens-block {
    flex: 1 0 100%;
  }

  .products-block {
    height: 200vw;
    white-space: nowrap;
  }

  .featured {
    margin-top: 80px;
    white-space: nowrap;
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .site-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 10px;
  }

  .site-footer ul {
    display: flex;
    flex-direction: row;
  }

  .site-footer ul span {
    display: none;
  }
}
